body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#stage {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#player {
    background-image: url("../images/wizard.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}

#enemy {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}

#projectile {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}

#start-message {
    position: absolute;
    background-color: burlywood;
    z-index: 2;
    width: 80vh;
    height: 80vh;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 1vh solid black;
    border-radius: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}