body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#stage {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#player {
    background-image: url("../images/wizard.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}

#enemy {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}

#projectile {
    background-image: url("../images/fireball.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}