body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#stage {
    background-image: url("../images/dungeon-room-1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#player {
    background-color: white;
    position: absolute;
}

#enemy {
    background-color: red;
    position: absolute;
}

#projectile {
    background-color: white;
    position: absolute;
}